@import url('https://fonts.google.com/specimen/Outfit');

h1{
text-align: center;
font-weight: 700;
}

p{
    color: grey;
    font-size: 15px;
text-align: center;
font-weight: 400;
}

image{
    width: 1140px;
    background-color: hsl(0%,0%,100%);
}

h1, p{
    font-family:Outfit, sans-serif
}

body{
    text-align: center;
}