@import url('https://fonts.google.com/specimen/Outfit');

h1{
text-align: center;
font-weight: 700;
border:100px;
word-spacing: 0.5px;
}

.paragraph{
    color: grey;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

image{
   /* min-width: 375px;*/
    background-color: hsl(0%,0%,100%);
    padding: 20px;
    border-style: none;
    margin:auto;
}

.box{
    font-family:Outfit, sans-serif;
    padding: 10px;
    border: 1px;
    display: block;
    box-sizing: border-box;
    overflow: auto;
}

body{
    text-align: center;
    max-width:1140px;
}