@import url('https://fonts.google.com/specimen/Outfit');

h1{
text-align: center;
font-weight: 700;
border:100px;
word-spacing: 0.5px;
padding-left, padding-right: ;: 20px;
}

p{
    color: grey;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding:20px;
}

image{
   /* min-width: 375px;*/
    width: 1140px;
    background-color: hsl(0%,0%,100%);
    padding: 20px;
    border-style: none;
    margin:auto;
}

h1,p{
    font-family:Outfit, sans-serif;
}

body{
    text-align: center;
}